{% load widget_tweaks %}
<div class="mb-5">
    <label for="{{ field.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">
        {{ field.label }}{% if field.field.required %}<span class="text-red-600 ms-1">*</span>{% endif %}
    </label>
    {% render_field field class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %}
    {% if field.help_text %}
    {% with field_type=field.field.widget.input_type %}
    {% if field_type == "password" %}
    {% include "components/_password_hints.html" with help_text=field.help_text %}
    {% else %}
    <p class="mt-2 text-sm text-gray-500">{{ field.help_text|safe }}</p>
    {% endif %}
    {% endwith %}
    {% endif %}
    {% for error in field.errors %}
    <p class="mt-2 text-sm text-red-600">{{ error }}</p>
    {% endfor %}
</div>
